<template>
  <!-- Modals -->
  <div class="card-profile-actions py-4 mt-lg-0">
    <base-button
      type="info"
      size="sm"
      class="mr-4"
      icon="ni ni-settings"
      @click="modals.modal1 = true"
      >Pengguna</base-button
    >
    <modal
      :show.sync="modals.modal1"
      body-classes="p-0"
      modal-classes="modal-dialog-centered modal-sm"
    >
      <card
        type="secondary"
        shadow
        header-classes="bg-white pb-5"
        body-classes="px-lg-5 py-lg-5"
        class="border-0"
      >
        <template>
          <div class="text-muted text-center mb-3">
            <small>Sign in with</small>
          </div>
          <div class="btn-wrapper text-center">
            <base-button type="neutral">
              <img slot="icon" src="img/icons/common/github.svg" />
              Github
            </base-button>

            <base-button type="neutral">
              <img slot="icon" src="img/icons/common/google.svg" />
              Google
            </base-button>
          </div>
        </template>
        <template>
          <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
          </div>
          <form role="form">
            <base-input
              alternative
              class="mb-3"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
            >
            </base-input>
            <base-input
              alternative
              type="password"
              placeholder="Password"
              addon-left-icon="ni ni-lock-circle-open"
            >
            </base-input>
            <base-checkbox>
              Remember me
            </base-checkbox>
            <div class="text-center">
              <base-button type="primary" class="my-4">Sign In</base-button>
            </div>
          </form>
        </template>
      </card>
    </modal>
    <base-button
      type="default"
      size="sm"
      class="float-right"
      icon="ni ni-fat-add"
      @click="modals.modal2 = true"
      >Data Anak</base-button
    >
  <modal
    :show.sync="modals.modal2"
    body-classes="p-0"
    modal-classes="modal-dialog-centered modal-sm"
  >
    <card
      type="secondary"
      shadow
      header-classes="bg-white pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0"
    >
      <template>
        <div class="text-muted text-center mb-3">
          <small>Sign in with</small>
        </div>
        <div class="btn-wrapper text-center">
          <base-button type="neutral">
            <img slot="icon" src="img/icons/common/github.svg" />
            Github
          </base-button>

          <base-button type="neutral">
            <img slot="icon" src="img/icons/common/google.svg" />
            Google
          </base-button>
        </div>
      </template>
      <template>
        <div class="text-center text-muted mb-4">
          <small>Or sign in with credentials</small>
        </div>
        <form role="form">
          <base-input
            alternative
            class="mb-3"
            placeholder="Nama Orang Tua"
            addon-left-icon="ni ni-circle-08"
          >
          </base-input>
          <base-input
            alternative
            class="mb-3"
            placeholder="Parent Email"
            addon-left-icon="ni ni-email-83"
          >
          </base-input>
          <base-input
            alternative
            class="mb-3"
            placeholder="Parent Phone"
            addon-left-icon="ni ni-mobile-button"
          >
          </base-input>
          <base-radio name="radio0" class="mb-3" v-model="radio.radio1">
        Unchecked
    </base-radio>

    <base-radio name="radio1" class="mb-3" v-model="radio.radio1">
        Checked
    </base-radio>
          </base-input>
          <div class="text-center">
            <base-button type="primary" class="my-4">Sign In</base-button>
          </div>
        </form>
      </template>
    </card>
  </modal>
  </div>
</template>
<script>
import Modal from "@/components/Modal.vue";
export default {
  components: {
    Modal
  },
  data() {
    return {
      modals: {
        modal1: false,
        modal2: false
      }
    };
  }
};
</script>
<style></style>
